<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="bg-warning card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'navigation'" class="font-warning"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">
                <h3>Orders {{ this.totalOrders_count }}</h3>
              </span>
              <h3 class="mb-0">
                <i *ngIf="this.compareToLastMonth > 0" class="fa fa-long-arrow-right"
                  style="color: rgb(20 173 39);transform: rotate(-45deg);"></i>
                <i *ngIf="this.compareToLastMonth < 0" class="fa fa-long-arrow-right"
                  style="color: rgb(255 26 26);transform: rotate(45deg);"></i>
                $ <span class="counter" [CountTo]="this.totalCancelOrders_Amount" [from]="0"
                  [duration]="2">0</span><small>
                  This Month</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden  widget-cards">
        <div class="bg-secondary card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'box'" class="font-secondary"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">
                <h3>Pending {{ this.totalPendingOrders_count }}</h3>
              </span>
              <h3 class="mb-0">$ <span class="counter" [CountTo]="this.totalPendingOrder_Amount" [from]="0"
                  [duration]="2">0</span><small>
                  This Month</small></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="bg-primary card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'message-square'" class="font-primary"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">
                <h3>Delivered {{ this.totalDeliveredOrder_count }}</h3>
              </span>
              <h3 class="mb-0">$ <span class="counter" [CountTo]="this.totalDeliveredOrder_Amount" [from]="0"
                  [duration]="2">0</span><small> This
                  Month</small></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="bg-danger card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons [icon]="'users'" class="font-danger"></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8"><span class="m-0">
                <h3>
                  Cancelled {{ this.totalCancelOrders_count }}
                </h3>
              </span>
              <h3 class="mb-0">$ <span class="counter" [CountTo]="this.totalCancelOrders_Amount" [from]="0"
                  [duration]="2">0</span><small>
                  This Month</small></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Income By month (last 15 days)</h5>
        </div>
        <div class="card-body">
          <div class="market-chart">
            <x-chartist class="board-chart ct-golden-section" [data]="chart3.data" [type]="chart3.type"
              [options]="chart3.options" [events]="chart3.events">
            </x-chartist>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 xl-100">
      <div class="card">
        <div class="card-header">
          <h5>Latest Orders</h5>
        </div>
        <div class="card-body">
          <div class="user-status table-responsive latest-order-table">
            <table class="table table-bordered table-hover shadow">
              <thead class="thead-light">
                <tr>
                  <th style="width: 20px;">Sr#</th>
                  <th scope="col">Action</th>
                  <th scope="col">Order Id</th>
                  <th>Customer Name</th>
                  <th style="width: 35px;">Customer Email</th>
                  <th>Contact No.</th>
                  <th>Country</th>
                  <th>Total Product</th>
                  <th>Total Amount</th>
                  <th>Current Status</th>
                  <th scope="col">Source</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let order of orderList | slice: (page-1) * pageSize : page * pageSize; let arrayIndex = index">
                  <td style="width: 20px;">{{ page > 1 ? (10 * (page - 1)) + arrayIndex + 1 : arrayIndex + 1 }}</td>
                  <td class="p-3">{{ order._id }}</td>
                  <td class="p-3">{{ order.first_Name }}</td>
                  <td style="width: 35px;" class="p-3">{{ order.Email }}</td>
                  <td class="p-3">{{ order.phone }}</td>
                  <td class="p-3">{{ order.Country }}</td>
                  <td style="width: 20px;" class="p-3">{{ order.products.length }}</td>
                  <td class="p-3">{{ order.totalAmount }}</td>
                  <td class="p-3">
                    {{
                    this.helperMethodsService.capitalizeFirstLetter(order.tracking_Status.current_Status.replaceAll('_',
                    " ")) }}:
                    <span class="{{order.tracking_Status[order.tracking_Status.current_Status].status}}">{{
                      this.helperMethodsService.capitalizeFirstLetter(order.tracking_Status[order.tracking_Status.current_Status].status)
                      }}</span>
                  </td>
                  <td>{{order.source}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <a href="/admin/#/orders/order-list" class="btn btn-primary mt-2">View All Orders</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Order Status</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-3 col-sm-6 xl-50">
              <div class="order-graph">
                <h6>Orders By Source</h6>
                <div class="chart-block chart-vertical-center">
                  <ngx-charts-pie-chart class="pie-colours-1" [view]="view" [scheme]="doughnutChartColorScheme"
                    [results]="sourceDoughnutData" [explodeSlices]="false" [labels]="doughnutChartShowLabels"
                    [arcWidth]=0.50 [doughnut]="true" [animations]="false" [tooltipDisabled]="doughnutChartTooltip"
                    [gradient]="doughnutChartGradient">
                  </ngx-charts-pie-chart>
                </div>
                <div class="order-graph-bottom">
                  <div class="media">
                    <div class="order-color-primary"></div>
                    <div class="media-body">
                      <!-- <h6 class="mb-0">Facebook <span class="pull-right">
                          <span *ngIf="this.sourceDoughnutData?.length > 0">
                            ${{ this.sourceDoughnutData[0]?.value || 0 }}
                          </span>
                        </span>
                      </h6> -->
                    </div>
                  </div>
                  <div class="media">
                    <div class="order-color-secondary"></div>
                    <div class="media-body">
                      <!-- <h6 class="mb-0">Web <span class="pull-right"><span *ngIf="this.sourceDoughnutData.length > 0">${{
                            this.sourceDoughnutData[1].value || 0}}</span></span>
                      </h6> -->
                    </div>
                  </div>
                  <div class="media">
                    <div class="order-color-danger"></div>
                    <div class="media-body">
                      <!-- <h6 class="mb-0">Instagram<span class="pull-right"><span
                            *ngIf="this.sourceDoughnutData.length > 0">${{ this.sourceDoughnutData[2].value ||
                            0}}</span></span></h6> -->
                    </div>
                  </div>
                  <div class="media">
                    <div class="order-color-warning"></div>
                    <div class="media-body">
                      <!-- <h6 class="mb-0">Whatsapp<span class="pull-right"><span
                            *ngIf="this.sourceDoughnutData.length > 0">${{ this.sourceDoughnutData[3].value ||
                            0}}</span></span></h6> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 xl-50">
              <div class="order-graph sm-order-space">
                <h6>Orders By Location</h6>
                <div class="peity-chart-dashboard text-center chart-vertical-center">
                  <ngx-charts-pie-chart class="pie-colours-1" [view]="view" [scheme]="doughnutChartColorScheme"
                    [results]="doughnutData" [explodeSlices]="false" [labels]="doughnutChartShowLabels" [arcWidth]=0.99
                    [doughnut]="true" [animations]="false" [tooltipDisabled]="doughnutChartTooltip"
                    [gradient]="doughnutChartGradient">
                  </ngx-charts-pie-chart>
                </div>
                <div class="order-graph-bottom sales-location">
                  <div class="media">
                    <div class="order-shape-primary"></div>
                    <div class="media-body">
                      <h6 class="mb-0 mr-0">Germany <span class="pull-right">25%</span></h6>
                    </div>
                  </div>
                  <div class="media">
                    <div class="order-shape-secondary"></div>
                    <div class="media-body">
                      <h6 class="mb-0 mr-0">Brasil <span class="pull-right">10%</span></h6>
                    </div>
                  </div>
                  <div class="media">
                    <div class="order-shape-danger"></div>
                    <div class="media-body">
                      <h6 class="mb-0 mr-0">United Kingdom<span class="pull-right">34%</span></h6>
                    </div>
                  </div>
                  <div class="media">
                    <div class="order-shape-warning"></div>
                    <div class="media-body">
                      <h6 class="mb-0 mr-0">Australia<span class="pull-right">5%</span></h6>
                    </div>
                  </div>
                  <div class="media">
                    <div class="order-shape-success"></div>
                    <div class="media-body">
                      <h6 class="mb-0 mr-0">Canada <span class="pull-right">25%</span></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-xl-3 col-sm-6 xl-50">
              <div class="card height-equal">
                <div class="card-header">
                  <h5>Recent Contact Us Messages</h5>
                </div>
                <div class="card-body">
                  <div class="user-status table-responsive products-table">
                    <table class="table table-bordernone mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Skill Level</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="bd-t-none u-s-tb">
                            <div class="align-middle image-sm-size"><img
                                class="img-radius align-top m-r-15 rounded-circle"
                                src="assets/images/dashboard/user2.jpg" alt="" data-original-title="" title="">
                              <div class="d-inline-block">
                                <h6>Admin <span class="text-muted digits"></span></h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="progress-showcase">
                              <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 30%"
                                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="bd-t-none u-s-tb">
                            <div class="align-middle image-sm-size"><img
                                class="img-radius align-top m-r-15 rounded-circle" src="assets/images/dashboard/man.png"
                                alt="" data-original-title="" title="">
                              <div class="d-inline-block">
                                <h6>Mohsib lara<span class="text-muted digits">(99+ Online)</span></h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="progress-showcase">
                              <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 60%"
                                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="bd-t-none u-s-tb">
                            <div class="align-middle image-sm-size"><img
                                class="img-radius align-top m-r-15 rounded-circle"
                                src="assets/images/dashboard/user.png" alt="" data-original-title="" title="">
                              <div class="d-inline-block">
                                <h6>Hileri Soli <span class="text-muted digits">(150+ Online)</span>
                                </h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="progress-showcase">
                              <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-secondary" role="progressbar" style="width: 30%"
                                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 xl-50">
              <div class="card height-equal">
                <div class="card-header">
                  <h5>Recent Reviews</h5>
                </div>
                <div class="card-body">
                  <div class="user-status table-responsive products-table">
                    <table class="table table-bordernone mb-0">
                      <thead>
                        <tr>
                          <th scope="col">Review</th>
                          <th scope="col">Rating</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let review of reviews">
                          <td class="bd-t-none u-s-tb">
                            <div class="align-middle image-sm-size"><img
                                class="img-radius align-top m-r-15 rounded-circle"
                                src="assets/images/dashboard/user2.jpg" alt="" data-original-title="" title="">
                              <div class="d-inline-block">
                                <h6>{{review.Title}} <span class="text-muted digits"></span></h6>
                              </div>
                              <div class="d-inline-block">
                                <h6>{{review.Comment.substring(0, 100)+'...'}} <span class="text-muted digits"></span>
                                </h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="progress-showcase">
                              <!-- <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-primary" role="progressbar" style="width: 30%"
                                  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div> -->

                              <bar-rating [rate]="review.Rating" [readOnly]="true"></bar-rating>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="/admin/#/reviews/review-list" class="btn btn-primary mt-2">View All Reviews</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<app-update-currency-modal></app-update-currency-modal>
