<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <form class="needs-validation" [formGroup]="checkoutForm" novalidate>
        <div class="card">
          <div class="card-body">
            <div class="row product-adding">
              <div class="col-xl-12">
                <div class="product-basic-details row">
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Source</div>
                    <select class="form-control" name="source" [formControl]="checkoutForm.controls['source']"
                      id="source">
                      <option *ngFor="let source of sourceList" value="{{source}}">{{source}}</option>
                    </select>
                    <div
                      *ngIf="checkoutForm.controls.first_Name.touched && checkoutForm.controls.first_Name.errors?.required"
                      class="text text-danger">
                      First Name is required.
                    </div>
                    <div
                      *ngIf="checkoutForm.controls.first_Name.touched && checkoutForm.controls.first_Name.errors?.minlength"
                      class="text text-danger">
                      Minimum length is 3
                    </div>
                    <div
                      *ngIf="checkoutForm.controls.first_Name.touched && checkoutForm.controls.first_Name.errors?.pattern"
                      class="text text-danger">
                      Only Alphabets are allowed
                    </div>
                  </div>
                </div>
                <div class="product-basic-details row">
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">First Name</div>
                    <input class="form-control" type="text" name="firstname"
                      [formControl]="checkoutForm.controls['first_Name']" value="" placeholder="" autocomplete="off">
                    <div
                      *ngIf="checkoutForm.controls.first_Name.touched && checkoutForm.controls.first_Name.errors?.required"
                      class="text text-danger">
                      First Name is required.
                    </div>
                    <div
                      *ngIf="checkoutForm.controls.first_Name.touched && checkoutForm.controls.first_Name.errors?.minlength"
                      class="text text-danger">
                      Minimum length is 3
                    </div>
                    <div
                      *ngIf="checkoutForm.controls.first_Name.touched && checkoutForm.controls.first_Name.errors?.pattern"
                      class="text text-danger">
                      Only Alphabets are allowed
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Last Name </div>
                    <input class="form-control" type="text" name="last_Name"
                      [formControl]="checkoutForm.controls['last_Name']" value="" placeholder="" autocomplete="off">
                    <div
                      *ngIf="checkoutForm.controls.last_Name.touched && checkoutForm.controls.last_Name.errors?.required"
                      class="text text-danger">
                      Last Name is required.
                    </div>
                    <div
                      *ngIf="checkoutForm.controls.last_Name.touched && checkoutForm.controls.last_Name.errors?.pattern"
                      class="text text-danger">
                      Only Alphabets are allowed
                    </div>
                    <div
                      *ngIf="checkoutForm.controls.last_Name.touched && checkoutForm.controls.last_Name.errors?.minlength"
                      class="text text-danger">
                      Minimum length is 3
                    </div>
                  </div>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="field-label">Email Address</div>
                    <input class="form-control" type="text" name="Email" [formControl]="checkoutForm.controls['Email']"
                      value="" placeholder="" autocomplete="off">
                    <div *ngIf="checkoutForm.controls.Email.touched && checkoutForm.controls.Email.errors?.required"
                      class="text text-danger">
                      Email is required
                    </div>
                    <div *ngIf="checkoutForm.controls.Email.touched && checkoutForm.controls.Email.errors?.email"
                      class="text text-danger">
                      Invalid Email
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Country</div>
                    <ng-select [formControl]="checkoutForm.controls['Country']" (change)="onChange($event)">
                      <ng-option *ngFor="let country of countryList; let arrayIndex = i" [value]="country">
                        {{country.name}}</ng-option>
                    </ng-select>

                    <div *ngIf="checkoutForm.controls.Country.touched && checkoutForm.controls.Country.errors?.required"
                      class="text text-danger">
                      Country is required
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Phone</div>

                    <div class="input-box" style="max-width: 100%;">
                      <span class="prefix">{{ this.checkoutForm.controls['DailCode'].value }}</span>
                      <input class="form-control" style="height: 50px;" type="number" class="form-control" name="phone"
                        [formControl]="checkoutForm.controls['phone']" value="" placeholder="" autocomplete="off">
                    </div>

                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.required"
                      class="text text-danger">
                      Phone No is required.
                    </div>
                    <div *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.errors?.pattern"
                      class="text text-danger">
                      Phone No is must be number.
                    </div>
                  </div>
                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="field-label">Address</div>
                    <input class="form-control" type="text" name="address"
                      [formControl]="checkoutForm.controls['Address']" value="" placeholder="" autocomplete="off">
                    <div *ngIf="checkoutForm.controls.Address.touched && checkoutForm.controls.Address.errors?.required"
                      class="text text-danger">
                      Address is required
                    </div>
                    <div
                      *ngIf="checkoutForm.controls.Address.touched && checkoutForm.controls.Address.errors?.maxLength"
                      class="text text-danger">
                      Invalid Address
                    </div>
                  </div>

                  <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="field-label">Town/City</div>
                    <input class="form-control" type="text" name="City" [formControl]="checkoutForm.controls['City']"
                      value="" placeholder="" autocomplete="off">
                    <div *ngIf="checkoutForm.controls.City.touched && checkoutForm.controls.City.errors?.required"
                      class="text text-danger">
                      City is required
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">State</div>
                    <input class="form-control" type="text" name="State" [formControl]="checkoutForm.controls['State']"
                      value="" placeholder="" autocomplete="off">
                    <div *ngIf="checkoutForm.controls.State.touched && checkoutForm.controls.State.errors?.required"
                      class="text text-danger">
                      State is required
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <div class="field-label">Postal Code</div>
                    <input class="form-control" type="text" name="postalCode"
                      [formControl]="checkoutForm.controls['postalCode']" value="" placeholder="" autocomplete="off">
                    <div
                      *ngIf="checkoutForm.controls.postalCode.touched && checkoutForm.controls.postalCode.errors?.required"
                      class="text text-danger">
                      Postalcode is required
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row product-adding">
              <div class="col-xl-12">
                <div class="table-responsive">
                  <!-- <ng2-smart-table [settings]="productTableSettings" [source]="source"
                    (createConfirm)="onCreateConfirmSKU($event)" (edit)="onEditConfirmSKU($event)"
                    (delete)="onDeleteConfirmSKU($event)">
                  </ng2-smart-table> -->
                  <div class="float-right py-2">
                    <button class="btn btn-primary" (click)="this.addProductCreateOrderComponent.open()"><i
                        class="fa fa-plus"></i></button>
                  </div>
                  <table class="table table-bordered table-hover shadow">
                    <thead class="thead-light">
                      <tr>
                        <!-- <th scope="col">Product Id</th> -->
                        <th scope="col">Product Name</th>
                        <th scope="col">Unit Cost</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Discount</th>
                        <th scope="col">Sub Total</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="" *ngFor="let product of product_List; let arrayIndex = index">
                        <!-- <td class="p-3">{{product.id}}</td> -->
                        <td class="p-3">{{product.product_name}}</td>
                        <td class="p-3">AED {{product.unit_Cost | aedToDollar: this.conversionRate}}</td>
                        <td class="p-3">{{product.quantity}}</td>
                        <td class="p-3">AED {{product.discount | aedToDollar: this.conversionRate}}</td>
                        <td class="p-3">AED {{product.sub_Total | aedToDollar: this.conversionRate}}</td>
                        <td class="p-3" style="padding: 3px !important; width: 20px">
                          <button class="btn btn-ghost-info" (click)="deleteProduct(arrayIndex)" type="button"
                            title="Click here! for deleting">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                        <!-- <td class="p-3">{{product.imageUrl}}</td> -->
                        <!-- <td class="p-3">{{product.sellerSku}}</td> -->
                        <!-- <td class="p-3">{{product.variant}}</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div *ngIf="isSubmit && this.proudctsArray.length == 0" class="text text-danger">
                  Product list is required
                </div>
              </div>
            </div>
          </div>

          <div class="form-group justify-content-end row mb-0 m-3">
            <div class="product-buttons">
              <button type="button" (click)="onSubmit()" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-light">Discard</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-add-product-create-order selectedProduct="selectedProduct" (addProductEvent)="addProductHandler($event)">
</app-add-product-create-order>
