<ng-template #orderStatusTemp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Order Status</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span class="text-danger mb-2">{{ errorMessage }}</span>

    <table class="table table-bordered table-hover shadow">
      <thead class="thead-light">
        <tr>
          <th style="width: auto;">Status</th>
          <th style="width: 20px;">Done</th>
          <th style="width: 20px;">Cancelled</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let status of this.tracking_Status | keyvalue">
          <td style="width: auto;">{{ this.capitalizeFirstLetter(status.key.replaceAll('_', " ")) }}</td>
          <td style="width: 20px;">
            <div class="form-check">
              <input [disabled]="this.current_Status != status.key" class="form-check-input" type="checkbox"
                [checked]="status.value.completed" [(ngModel)]="this.tracking_Status[status.key].completed"
                id="flexCheckChecked" (change)="this.checkStatusCheckboxVal(status.key)">
            </div>
          </td>
          <td style="width: 20px;">
            <div class="form-check">
              <input [disabled]="this.current_Status != status.key" class="form-check-input" type="checkbox"
                [checked]="status.value.cancelled" [(ngModel)]="this.tracking_Status[status.key].cancelled"
                id="flexCheckChecked" (change)="this.checkStatusCheckboxVal(status.key)">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="form-group mt-3">
      <!-- {{ this.capitalizeFirstLetter(this.currentChangedKey.replaceAll('_', " ")) }} -->
      <input type="text" class="form-control" placeholder="Enter Comment">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled]="disableSaveButton"
      (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
