<ng-template #orderStatusTimeline let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order Status Timeline</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container mt-3">
      <div class="page-header">
        <h3 id="timeline">Timeline</h3>
      </div>
      <ul class="timeline">
        <li class="timeline-sm timeline-li" *ngIf="this.tracking_Status.order_Confirmed.status">
          <div [ngClass]="{
                  'timeline-badge': true,
                  'info': this.tracking_Status.order_Confirmed.inProgress,
                  'success': this.tracking_Status.order_Confirmed.completed,
                  'danger': this.tracking_Status.order_Confirmed.cancelled
              }">
            <div class="m-auto">
              <div class="timeline-balloon-date-day">{{
                this.tracking_Status.order_Confirmed.date.getDate() || null }}</div>
              <div class="timeline-balloon-date-day">{{
                monthNames[this.tracking_Status.order_Confirmed.date.getMonth()] || null }}</div>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Order Confirmed</h4>
              <span class="text-muted">{{ this.tracking_Status.order_Confirmed.date  | timeago:live}}</span>
              <p>
                <span class="text-muted">
                  {{ this.tracking_Status.order_Confirmed.comment || "" }}
                </span>
              </p>
            </div>
            <div class="timeline-body">
              <span class="badge badge-pill text-white info" *ngIf="this.tracking_Status.order_Confirmed.inProgress">In
                Progress</span>
              <span class="badge badge-pill text-white success"
                *ngIf="this.tracking_Status.order_Confirmed.completed">Completed</span>
              <span class="badge badge-pill text-white badge-danger"
                *ngIf="this.tracking_Status.order_Confirmed.cancelled">Cancelled</span>
            </div>
          </div>
        </li>
        <li class="timeline-inverted timeline-li" *ngIf="this.tracking_Status.ready_for_Delivery.status">
          <div [ngClass]="{
                  'timeline-badge': true,
                  'info': this.tracking_Status.ready_for_Delivery.inProgress,
                  'success': this.tracking_Status.ready_for_Delivery.completed,
                  'danger': this.tracking_Status.ready_for_Delivery.cancelled
              }">
            <div class="m-auto">
              <div class="timeline-balloon-date-day">{{
                this.tracking_Status.ready_for_Delivery.date?.getDate() || null }}</div>
              <div class="timeline-balloon-date-day">{{
                monthNames[this.tracking_Status.ready_for_Delivery.date?.getMonth()] || null }}</div>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Ready For Delivery</h4>
              <span class="text-muted">{{ this.tracking_Status.ready_for_Delivery.date  | timeago:live}}</span>
              <p>
                <span class="text-muted">
                  {{ this.tracking_Status.ready_for_Delivery.comment || "" }}
                </span>
              </p>
            </div>
            <div class="timeline-body">
              <span class="badge badge-pill text-white info"
                *ngIf="this.tracking_Status.ready_for_Delivery.inProgress">In
                Progress</span>
              <span class="badge badge-pill text-white success"
                *ngIf="this.tracking_Status.ready_for_Delivery.completed">Completed</span>
              <span class="badge badge-pill text-white badge-danger"
                *ngIf="this.tracking_Status.ready_for_Delivery.cancelled">Cancelled</span>
            </div>
          </div>
        </li>
        <li class="timeline-sm timeline-li" *ngIf="this.tracking_Status.out_For_Delivery.status">
          <div [ngClass]="{
                  'timeline-badge': true,
                  'info': this.tracking_Status.out_For_Delivery.inProgress,
                  'success': this.tracking_Status.out_For_Delivery.completed,
                  'danger': this.tracking_Status.out_For_Delivery.cancelled
              }">
            <div class="m-auto">
              <div class="timeline-balloon-date-day">{{
                this.tracking_Status.out_For_Delivery.date?.getDate() || null }}</div>
              <div class="timeline-balloon-date-day">{{
                monthNames[this.tracking_Status.out_For_Delivery.date?.getMonth()] || null }}</div>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Out For Delivery</h4>
              <span class="text-muted">{{ this.tracking_Status.out_For_Delivery.date  | timeago:live}}</span>
              <p>
                <span class="text-muted">
                  {{ this.tracking_Status.out_For_Delivery.comment || "" }}
                </span>
              </p>
            </div>
            <div class="timeline-body">
              <span class="badge badge-pill text-white info" *ngIf="this.tracking_Status.out_For_Delivery.inProgress">In
                Progress</span>
              <span class="badge badge-pill text-white success"
                *ngIf="this.tracking_Status.out_For_Delivery.completed">Completed</span>
              <span class="badge badge-pill text-white badge-danger"
                *ngIf="this.tracking_Status.out_For_Delivery.cancelled">Cancelled</span>
            </div>
          </div>
        </li>
        <li class="timeline-inverted timeline-li" *ngIf="this.tracking_Status.delivered.status">
          <div [ngClass]="{
                  'timeline-badge': true,
                  'info': this.tracking_Status.delivered.inProgress,
                  'success': this.tracking_Status.delivered.completed,
                  'danger': this.tracking_Status.delivered.cancelled
              }">
            <div class="m-auto">
              <div class="timeline-balloon-date-day">{{ this.tracking_Status.delivered.date?.getDate() ||
                null }}</div>
              <div class="timeline-balloon-date-day">{{
                monthNames[this.tracking_Status.delivered.date?.getMonth()] || null }}</div>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Delivered</h4>
              <span class="text-muted">{{ this.tracking_Status.delivered.date  | timeago:live}}</span>
              <p>
                <span class="text-muted">
                  {{ this.tracking_Status.delivered.comment || "" }}
                </span>
              </p>
            </div>
            <div class="timeline-body">
              <span class="badge badge-pill text-white info" *ngIf="this.tracking_Status.delivered.inProgress">In
                Progress</span>
              <span class="badge badge-pill text-white success"
                *ngIf="this.tracking_Status.delivered.completed">Completed</span>
              <span class="badge badge-pill text-white badge-danger"
                *ngIf="this.tracking_Status.delivered.cancelled">Cancelled</span>
            </div>
          </div>
        </li>
        <li class="timeline-sm timeline-li" *ngIf="this.tracking_Status.Paid.status">
          <div [ngClass]="{
                  'timeline-badge': true,
                  'info': this.tracking_Status.Paid.inProgress,
                  'success': this.tracking_Status.Paid.completed,
                  'danger': this.tracking_Status.Paid.cancelled
              }">
            <div class="m-auto">
              <div class="timeline-balloon-date-day">{{ this.tracking_Status.Paid.date?.getDate() || null
                }}</div>
              <div class="timeline-balloon-date-day">{{
                monthNames[this.tracking_Status.Paid.date?.getMonth()] || null }}</div>
            </div>
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Paid</h4>
              <span class="text-muted">{{ this.tracking_Status.Paid.date  | timeago:live}}</span>
              <p>
                <span class="text-muted">
                  {{ this.tracking_Status.Paid.comment || "" }}
                </span>
              </p>
            </div>
            <div class="timeline-body">
              <span class="badge badge-pill text-white info" *ngIf="this.tracking_Status.Paid.inProgress">In
                Progress</span>
              <span class="badge badge-pill text-white success"
                *ngIf="this.tracking_Status.Paid.completed">Completed</span>
              <span class="badge badge-pill text-white badge-danger"
                *ngIf="this.tracking_Status.Paid.cancelled">Cancelled</span>
            </div>
          </div>
        </li>
      </ul>

      <div class="page-header mt-4">
        <h3 id="timeline">Product Details</h3>
      </div>
      <div class="table-responsive" *ngIf="showProducts">
        <table class="table table-bordered table-hover shadow">
          <thead class="thead-light">
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Unit Cost</th>
              <th scope="col">Quantity</th>
              <th scope="col">Discount</th>
              <th scope="col">Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let product of product_List; let arrayIndex = index">
              <td class="p-3 w-25">{{ product.product_name }}</td>
              <td class="p-3">AED {{ product.unit_Cost }}</td>
              <td class="p-3">{{ product.quantity }}</td>
              <td class="p-3">AED {{ product.amount - product.discount }}</td>
              <td class="p-3">AED {{ (product.unit_Cost - (product.unit_Cost - product.discount)) * product.quantity }}
              </td>
              <!-- <td class="p-3">
                  <img src="{{ this.imageAddress + product_List[arrayIndex].variants[0].imagesPreview[0] }}"
                      width="150" />
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6">
            <div class="row justify-content-end text-right">
              <div class="col-6">
                <b>Total</b>
              </div>
              <div class="col-6">
                AED {{total}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-header mt-4">
        <h3 id="timeline">Shipping Address</h3>
      </div>
      <div class="card mt-4">
        <div class="card-body shadow">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="container">
                  <div class="row mt-2">
                    <div class="col-6">
                      <p class="font-weight-bold">Address</p>
                      <p class="font-weight-bold">City</p>
                      <p class="font-weight-bold">Country</p>
                      <p class="font-weight-bold">Postal Code</p>
                      <p class="font-weight-bold">State</p>
                    </div>
                    <div class="col-6">
                      <p>{{ order?.Address }}</p>
                      <p>{{ order?.City }}</p>
                      <p>{{ order?.Country }}</p>
                      <p>{{ order?.postalCode }}</p>
                      <p>{{ order?.State }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
