<ng-template #orderStatusTimeline let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order Status Timeline</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container mt-3">
      <h5 class="mb-4"><b>Order Id:</b> {{ this.orderId }}</h5>
      <div class="page-header">
        <h3 id="timeline">Timeline</h3>
      </div>

      <div class="md-stepper-horizontal">
        <div
          class="md-step"
          [ngClass]="{
            active: this.tracking_Status.order_Confirmed.inProgress,
            done: this.tracking_Status.order_Confirmed.completed,
            danger: this.tracking_Status.order_Confirmed.cancelled
          }"
        >
          <div class="md-step-circle">
            <span><i class="fa fa-check"></i></span>
          </div>
          <div class="md-step-title">Order Confirmed</div>
          <div class="md-step-bar-left"></div>
          <div class="md-step-bar-right"></div>

          <div class="text-center">
            <span
              class="info"
              *ngIf="this.tracking_Status.order_Confirmed.inProgress"
              >In Progress</span
            >
            <span
              class="success"
              *ngIf="this.tracking_Status.order_Confirmed.completed"
              >Completed</span
            >
            <span
              class="danger"
              *ngIf="this.tracking_Status.order_Confirmed.cancelled"
              >Cancelled</span
            >
          </div>
        </div>
        <div
          class="md-step"
          [ngClass]="{
            active: this.tracking_Status.ready_for_Delivery.inProgress,
            done: this.tracking_Status.ready_for_Delivery.completed,
            danger: this.tracking_Status.ready_for_Delivery.cancelled
          }"
        >
          <div class="md-step-circle">
            <span><i class="fa fa-clipboard"></i></span>
          </div>
          <div class="md-step-title">Ready For Delivery</div>
          <!-- <div class="md-step-optional">Optional</div> -->
          <div class="md-step-bar-left"></div>
          <div class="md-step-bar-right"></div>

          <div class="text-center">
            <span
              class="info"
              *ngIf="this.tracking_Status.ready_for_Delivery.inProgress"
              >In Progress</span
            >
            <span
              class="success"
              *ngIf="this.tracking_Status.ready_for_Delivery.completed"
              >Completed</span
            >
            <span
              class="danger"
              *ngIf="this.tracking_Status.ready_for_Delivery.cancelled"
              >Cancelled</span
            >
          </div>
        </div>
        <div
          class="md-step"
          [ngClass]="{
            active: this.tracking_Status.out_For_Delivery.inProgress,
            done: this.tracking_Status.out_For_Delivery.completed,
            danger: this.tracking_Status.out_For_Delivery.cancelled
          }"
        >
          <div class="md-step-circle">
            <span
              style="
                -moz-transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
              "
            >
            <i class="fa fa-truck"></i>
            </span>
          </div>
          <div class="md-step-title">Out For Delivery</div>
          <div class="md-step-bar-left"></div>
          <div class="md-step-bar-right"></div>

          <div class="text-center">
            <span
              class="info"
              *ngIf="this.tracking_Status.out_For_Delivery.inProgress"
              >In Progress</span
            >
            <span
              class="success"
              *ngIf="this.tracking_Status.out_For_Delivery.completed"
              >Completed</span
            >
            <span
              class="danger"
              *ngIf="this.tracking_Status.out_For_Delivery.cancelled"
              >Cancelled</span
            >
          </div>
        </div>
        <div
          class="md-step"
          [ngClass]="{
            active: this.tracking_Status.delivered.inProgress,
            done: this.tracking_Status.delivered.completed,
            danger: this.tracking_Status.delivered.cancelled
          }"
        >
          <div class="md-step-circle">
            <span><i class="fa fa-home"></i></span>
          </div>
          <div class="md-step-title">Delivered</div>
          <div class="md-step-bar-left"></div>
          <div class="md-step-bar-right"></div>

          <div class="text-center">
            <span class="info" *ngIf="this.tracking_Status.delivered.inProgress"
              >In Progress</span
            >
            <span
              class="success"
              *ngIf="this.tracking_Status.delivered.completed"
              >Completed</span
            >
            <span
              class="danger"
              *ngIf="this.tracking_Status.delivered.cancelled"
              >Cancelled</span
            >
          </div>
        </div>
        <div
          class="md-step"
          [ngClass]="{
            active: this.tracking_Status.Paid.inProgress,
            done: this.tracking_Status.Paid.completed,
            danger: this.tracking_Status.Paid.cancelled
          }"
        >
          <div class="md-step-circle">
            <span><i class="fa fa-dollar"></i></span>
          </div>
          <div class="md-step-title">Paid</div>
          <div class="md-step-bar-left"></div>
          <div class="md-step-bar-right"></div>

          <div class="text-center">
            <span class="info" *ngIf="this.tracking_Status.Paid.inProgress"
              >In Progress</span
            >
            <span class="success" *ngIf="this.tracking_Status.Paid.completed"
              >Completed</span
            >
            <span class="danger" *ngIf="this.tracking_Status.Paid.cancelled"
              >Cancelled</span
            >
          </div>
        </div>
      </div>

      <div class="page-header mt-4">
        <h3 id="timeline">Product Details</h3>
      </div>
      <div class="table-responsive" *ngIf="showProducts">
        <table class="table table-bordered table-hover shadow">
          <thead class="thead-light">
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Unit Cost</th>
              <th scope="col">Quantity</th>
              <th scope="col">Discount</th>
              <th scope="col">Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class=""
              *ngFor="let product of product_List; let arrayIndex = index"
            >
              <td class="p-3 w-25">{{ product.product_name }}</td>
              <td class="p-3">
                AED {{ product.unit_Cost | aedToDollar: this.conversionRate }}
              </td>
              <td class="p-3">{{ product.quantity }}</td>
              <td class="p-3">
                AED {{ product.discount | aedToDollar: this.conversionRate }}
              </td>
              <td class="p-3">
                AED {{ product.sub_Total | aedToDollar: this.conversionRate }}
              </td>
              <!-- <td class="p-3">
                  <img src="{{ this.imageAddress + product_List[arrayIndex].variants[0].imagesPreview[0] }}"
                      width="150" />
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>

      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-6">
            <div class="row justify-content-end text-right">
              <div class="col-6">
                <b>Total</b>
              </div>
              <div class="col-6">
                {{ this.total.toString() | aedToDollar: this.conversionRate }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body shadow">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h3 id="timeline">Shipping Address</h3>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <div class="bold">Address</div>
                      <div class="bold">City</div>
                      <div class="bold">Country</div>
                      <div class="bold">Postal Code</div>
                      <div class="bold">State</div>
                    </div>
                    <div class="col-6">
                      <p>{{ order?.Address }}</p>
                      <p>{{ order?.City }}</p>
                      <p>{{ order?.Country }}</p>
                      <p>{{ order?.postalCode }}</p>
                      <p>{{ order?.State }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-12">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h3 id="timeline">Customer Details</h3>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <div class="bold">First Name</div>
                      <div class="bold">Last Name</div>
                      <div class="bold">Email</div>
                      <div class="bold">Country</div>
                      <div class="bold">Phone</div>
                      <div class="bold">Address</div>
                      <div class="bold">Town/City</div>
                      <div class="bold">State</div>
                      <div class="bold">Postal Code</div>
                    </div>
                    <div class="col-6">
                      <p>{{ order?.first_Name }}</p>
                      <p>{{ order?.last_Name }}</p>
                      <p>{{ order?.Email }}</p>
                      <p>{{ order?.Country }}</p>
                      <p>{{ order?.phone }}</p>
                      <p>{{ order?.Address }}</p>
                      <p>{{ order?.City }}</p>
                      <p>{{ order?.State }}</p>
                      <p>{{ order?.postalCode }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
