<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <form class="needs-validation" [formGroup]="productForm" novalidate>
        <div class="card">
          <div class="card-header">
            <h5>Basic Details</h5>
          </div>
          <div class="card-body">
            <div class="row product-adding">
              <div class="col-xl-12">
                <div class="product-basic-details row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="validationCustom01">Title
                        :</label>
                      <input class="form-control" id="validationCustom01" type="text" formControlName="title" required>
                      <div *ngIf="productForm.controls.title.touched && productForm.controls.title.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Type : </label>
                      <select class="form-control digits" formControlName="type" id="exampleFormControlSelect1">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>Extra Large</option>
                      </select>
                      <div *ngIf="productForm.controls.type.touched && productForm.controls.type.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Category : </label>
                      <select class="form-control digits" id="exampleFormControlSelect1">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>Extra Large</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Product Description</h5>
          </div>
          <div class="card-body">
            <div class="row product-adding">
              <div class="col-xl-12">
                <div class="product-basic-details row">
                  <angular-editor [placeholder]="'Enter text here...'" formControlName="description"></angular-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Other Details</h5>
          </div>
          <div class="card-body">
            <div class="row product-adding">
              <div class="col-xl-12">
                <div class="product-other-details row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Brand : </label>
                      <select class="form-control" formControlName="brand_id" id="exampleFormControlSelect1">
                        <option>Brand 1</option>
                        <option>Brand 2</option>
                        <option>Brand 3</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.brand_id.touched && productForm.controls.brand_id.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Collections : </label>
                      <ng-multiselect-dropdown formControlName="collections" [placeholder]="'Select Collection'"
                        [settings]="dropdownSettings" [data]="collectionsData">
                      </ng-multiselect-dropdown>

                      <div
                        *ngIf="productForm.controls.collections.touched && productForm.controls.collections.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Discount : </label>
                      <input formControlName="discount" class="form-control digits text-right" id="validationCustom02"
                          type="number">

                      <div
                        *ngIf="productForm.controls.discount.touched && productForm.controls.discount.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->



<!-- <div class="form-group row mb-0 ml-1 mt-3">
  <div class="product-buttons">
    <button type="button" class="btn btn-primary mr-1">Save as Draft</button>
    <button type="button" class="btn btn-secondary">Save</button>
    <button type="button" class="btn btn-light">Discard</button>
  </div>
</div> -->
