.btn-toggle {
  background     : none !important;
  border         : none;
  padding        : 0 !important;
  /*optional*/
  font-family    : arial, sans-serif;
  /*input has OS specific font-family*/
  color          : #069;
  text-decoration: underline;
  cursor         : pointer;
}

.btn-upload-custom {
  border       : 1px dashed rgb(148, 148, 148);
  border-radius: 0px;
  font-weight  : 100;
  color        : #3d3d3d !important;
}

.btn-outline-light:hover {
  background-color: transparent !important;
  color           : #3d3d3d !important;
  border          : 1px dashed rgb(148, 148, 148) !important;
}
