<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <form class="needs-validation" [formGroup]="productForm" novalidate>
        <div class="card">
          <div class="card-header">
            <h5>Basic Details</h5>
          </div>
          <div class="card-body">
            <div class="row product-adding">
              <div class="col-xl-12">
                <div class="product-basic-details row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="validationCustom01">Title
                        :</label>
                      <input class="form-control" id="validationCustom01" type="text" formControlName="title">
                      <div *ngIf="productForm.controls.title.touched && productForm.controls.title.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Brand : </label>
                      <input class="form-control" id="validationCustom01" formControlName="brand" type="text">
                      <div *ngIf="productForm.controls.brand.touched && productForm.controls.brand.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Category : </label>
                      <select class="form-control digits" id="exampleFormControlSelect1">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>Extra Large</option>
                      </select>
                    </div>
                  </div> -->
                  <!-- <div class="col-md-4">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Category : </label>
                      <select class="form-control digits" id="exampleFormControlSelect1">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>Extra Large</option>
                      </select>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- </div> -->
          <!-- <div class="card"> -->
          <div class="card-header">
            <h5>Product Description</h5>
          </div>
          <div class="card-body">
            <div class="row product-adding" style="min-height: 300px;">
              <div class="col-xl-12">
                <div class="product-basic-details">
                  <angular-editor [config]="config" [placeholder]="'Enter text here...'" formControlName="description">
                  </angular-editor>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->

        <!-- We can split <form></form> by wrapping content like this multiple times -->
        <!-- <form class="needs-validation" [formGroup]="productForm" novalidate> -->
        <!-- <div class="card">
          <div class="card-header">
            <h5>Other Details</h5>
          </div>
          <div class="card-body">
            <div class="row product-adding">
              <div class="col-xl-12">
                <div class="product-other-details row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Brand : </label>
                      <select class="form-control" formControlName="brand_id" id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>Brand 1</option>
                        <option>Brand 2</option>
                        <option>Brand 3</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.brand_id.touched && productForm.controls.brand_id.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Collections : </label>
                      <ng-multiselect-dropdown formControlName="collections" [placeholder]="'Select Collection'"
                        [settings]="dropdownSettings" [data]="collectionsData">
                      </ng-multiselect-dropdown>

                      <div
                        *ngIf="productForm.controls.collections.touched && productForm.controls.collections.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">New : </label>
                      <select class="form-control" formControlName="new" id="exampleFormControlSelect1">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                      </select>
                      <div *ngIf="productForm.controls.new.touched && productForm.controls.new.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Tags : </label>
                      <ng-multiselect-dropdown formControlName="tags" [placeholder]="'Select Tags'"
                        [settings]="dropdownSettings" [data]="tagsData">
                      </ng-multiselect-dropdown>

                      <div *ngIf="productForm.controls.tags.touched && productForm.controls.tags.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Watch Case Shape : </label>
                      <select class="form-control" formControlName="Watch_Case_Shape" id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>Round</option>
                        <option>Square</option>
                        <option>Rectangle</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.Watch_Case_Shape.touched && productForm.controls.Watch_Case_Shape.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Glass : </label>
                      <select class="form-control" formControlName="Glass" id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>Sappire Crystal Glass</option>
                        <option>Mineral</option>
                        <option>Plexiglass</option>
                      </select>
                      <div *ngIf="productForm.controls.Glass.touched && productForm.controls.Glass.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Watch Feature : </label>
                      <ng-multiselect-dropdown formControlName="Watch_Feature" [placeholder]="'Select Watch Features'"
                        [settings]="dropdownSettings" [data]="watchFeaturesData">
                      </ng-multiselect-dropdown>

                      <div
                        *ngIf="productForm.controls.Watch_Feature.touched && productForm.controls.Watch_Feature.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="validationCustom01">Model
                        :</label>
                      <input class="form-control" id="validationCustom01" type="text" formControlName="Model" required>
                      <div *ngIf="productForm.controls.Model.touched && productForm.controls.Model.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Dial Size : </label>
                      <select class="form-control" formControlName="Dial_Size" id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>34mm</option>
                        <option>22mm</option>
                        <option>18mm</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.Dial_Size.touched && productForm.controls.Dial_Size.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Watch Case Size : </label>
                      <select class="form-control" formControlName="Watch_Case_Size" id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>Under 20mm</option>
                        <option>21mm to 24mm</option>
                        <option>30mm to 34mm</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.Watch_Case_Size.touched && productForm.controls.Watch_Case_Size.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Color Family : </label>
                      <ng-select formControlName="Color_Family" [items]="colorFamilyData"
                        [placeholder]="'Select Color Family'">
                      </ng-select>

                      <div
                        *ngIf="productForm.controls.Color_Family.touched && productForm.controls.Color_Family.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Movement : </label>
                      <select class="form-control" formControlName="Movement" id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>Automatic</option>
                        <option>Digital</option>
                        <option>Quartz</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.Movement.touched && productForm.controls.Movement.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Watch Movement Country : </label>
                      <select class="form-control" formControlName="Watch_Movement_Country"
                        id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>Automatic</option>
                        <option>Digital</option>
                        <option>Quartz</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.Watch_Movement_Country.touched && productForm.controls.Watch_Movement_Country.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Strap : </label>
                      <select class="form-control" formControlName="Strap_Material" id="exampleFormControlSelect1">
                        <option value="" selected="true">Select</option>
                        <option>Steel</option>
                        <option>Stainless Steel</option>
                        <option>Brass</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.Strap_Material.touched && productForm.controls.Strap_Material.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Watch water resistance : </label>
                      <select class="form-control" formControlName="water_resistance" id="exampleFormControlSelect1">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                      </select>
                      <div
                        *ngIf="productForm.controls.water_resistance.touched && productForm.controls.water_resistance.errors?.required"
                        class="text text-danger">
                        Title Name is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </form>

      <div class="card">
        <div class="card-header">
          <h5>Variant Details</h5>
        </div>
        <div class="card-body">
          <div class="row product-adding">
            <div class="col-xl-12">

              <!-- Variants for loop -->
              <div *ngIf="this.variantsArray.length > 0">
                <div class="product-variant-details row align-items-end justify-content-center mt-2 mb-2"
                  *ngFor="let variant of this.variantsArray; let arrayIndex = index">
                  <div class="col-md-6">
                    <label for="exampleFormControlSelect1">Variant : </label>
                    <!-- <ng-select [(ngModel)]="this.variantsArray[arrayIndex].variantColor"
                      (change)="editVariant(arrayIndex)" [items]="variantsColorData">
                    </ng-select> -->
                    <input class="form-control" id="validationCustom01" (change)="editVariant(arrayIndex)" type="text" [(ngModel)]="this.variantsArray[arrayIndex].variantColor">

                    <div
                      *ngIf="productForm.controls.collections.touched && productForm.controls.collections.errors?.required"
                      class="text text-danger">
                      Title Name is required.
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="float-left m-2">
                      <i class="fa fa-trash text-black" (click)="deleteVariant(arrayIndex)"></i>
                    </div>
                    <div class="float-left m-2">
                      <button class="btn-toggle" (click)="collapseVariantImageArea(arrayIndex)"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                        Collapse
                      </button>
                    </div>
                  </div>

                  <div class="variant mt-3 col-12">
                    <div #collapse="ngbCollapse" [(ngbCollapse)]="this.variantsArray[arrayIndex].collapse">
                      <div class="card">
                        <div class="container m-2 p-2 bg-light">
                          <div class="row border m-2 p-3 bg-white">
                            <p>
                              Click Upload button to upload. Add at least 3 images of your product from
                              different angles.Maximum 8 pictures. Size between 500x500 and 2000x2000 px. Obscene
                              image is strictly prohibited.
                            </p>

                            <input style="display: none;" type="file" id="variant-img-{{arrayIndex}}" accept="image/*"
                              #file (change)="variantImageAdded(file.files, arrayIndex, $event)" multiple>

                            <button class="btn btn-outline-light btn-upload-custom" (click)="file.click()">
                              <i class="fa fa-upload" style="color: #069;" aria-hidden="true"></i>
                              Upload
                            </button>
                          </div>

                          <div class="row border m-2 p-3 bg-white">
                            <div class="variant-img-wrapper"
                              *ngFor="let file of this.variantsArray[arrayIndex].imagesPreview; let fileIndex = index"
                              (click)="setImageAsImageThumbnail(fileIndex, arrayIndex)"
                              [ngClass]="{'active-image': this.variantsArray[arrayIndex].isThumbnailImageIndex == fileIndex}">
                              <img id="img-{{fileIndex}}-{{arrayIndex}}" src="{{file.base64}}" alt="your image" width="100%" />
                              <!-- <span (click)="onVariantImageRemove(arrayIndex, fileIndex)">x</span> -->
                              <i class="fa fa-1x fa-trash text-danger"
                                (click)="onVariantImageRemove(arrayIndex, fileIndex)"></i>
                            </div>
                          </div>

                          <div class="row border m-2 p-3 bg-white">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" [(ngModel)]="this.variantsArray[arrayIndex].isAvailable"
                                class="custom-control-input" id="customSwitch1">
                              <label class="custom-control-label text-primary" for="customSwitch1">Is available?</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- New Variant input field -->
              <div class="product-basic-details row mt-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Variant : </label>
                    <ng-select [(ngModel)]="variantDummyValue" [items]="variantsColorData"
                      (close)="variantSelectFieldChangeHandler()">
                    </ng-select>

                    <div
                      *ngIf="productForm.controls.collections.touched && productForm.controls.collections.errors?.required"
                      class="text text-danger">
                      Title Name is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5>SKU Details</h5>
        </div>
        <div class="card-body">
          <div class="row product-adding">
            <div class="col-xl-12">
              <!-- <div id="batchDelete" class="category-table custom-datatable"> -->
              <div class="table-responsive">
                <ng2-smart-table [settings]="skuTableSettings" [source]="source"
                  (createConfirm)="onCreateConfirmSKU($event)" (edit)="onEditConfirmSKU($event)"
                  (delete)="onDeleteConfirmSKU($event)">
                </ng2-smart-table>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>


      <div class="form-group justify-content-center row mb-0 ml-1 mt-3">
        <div class="product-buttons">
          <!-- <button type="button" class="btn btn-primary mr-1">Save as Draft</button> -->
          <button type="button" (click)="onSubmit()" class="btn btn-secondary">Save</button>
          <button type="button" class="btn btn-light">Discard</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
