<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover shadow">
          <thead class="thead-light">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Brand</th>
              <th scope="col">Image</th>
              <th scope="col">Sale</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="" *ngFor="let product of product_list | slice: (page-1) * pageSize : page * pageSize; let arrayIndex = index">
              <td class="p-3 w-25">{{ product.title }}</td>
              <td class="p-3">{{ product.brand }}</td>
              <td class="p-3">
                <img src="{{ this.imageAddress + product_list[arrayIndex].variants[0].imagesPreview[0] }}"
                  width="150" />
              </td>
              <td class="p-3" style="width: 30px;">
                <ng-toggle [value]="true" [color]="{unchecked: '#939da2', checked: '#6cf241'}" [width]="35"
                  [height]="15"></ng-toggle>
              </td>
              <td class="p-3" style="padding: 3px !important; width: 20px">
                <button class="btn btn-ghost-info" [routerLink]="['/products/physical/product-detail' , product._id]"
                  type="button" title="Click here! for editing">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="float-right">
          <ngb-pagination [collectionSize]="this.product_list.length" [(page)]="page" aria-label="Default pagination">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
